<div class="questions_container">
  <h4><%= flash[:success] %></h4>

<h1><center>Welcome to Travel Flower! </h1><br></center> 
  
  <center><p>Post your travel question and wait for your crowd-sourced response!</p>

  <p>Here are some recent questions:</p></center> 

  <%@questions.each do |question|%>
  <ul>
    <li><h3> >> <%=link_to "#{question.question_text}", question_path(question)%></h3>
    </li>
    </ul>
    <%end%>
</div>

