
<div class="question_new">

  <%= form_for :question, url: { action: "create"} do |f| %>
  <%= f.text_area :question_text, :placeholder=> "Enter Your Travel Question Here" %>
  <%= f.submit "Post Question" %>
  <% end %>
</div>
