// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button_id{
  // border-style: solid;
  // border-size: 1px;
  // border-color: limegreen;
  width: 100px;
  font-size: 10px;
  // border-radius: 80%;
  // background-color: teal;
  color:white;

  background-color: blueviolet;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid teal;
  padding: 5px;
  text-align: center;
}

.answerer_info img {
  width: 20px;
}

.answerer_info {
  font-size: 10px;
}

.answers_show {
  text-align: center;
}