/*// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

h1 { 
  color: teal;
}

#tagname {
  padding-top: 50px;
}

#tag_poster img{
  width: 30px;
}

#tag_poster {
  font-size: 10px;
}